.tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 100vh;

    &__menu-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        width: 100%;
        padding: 1rem 2rem;
    }

    &__content {
        width: 80%;
    
        &--icon {
            display: block;
            width: 80%;
            margin: 0 auto 2rem auto;
        }
    }

    &__menu-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
