.button {
    &,
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
        font-family: inherit;
        font-weight: 700;
        letter-spacing: .08rem;
        color: var(--color-white);
        background-color: var(--color-primary);
        border-radius: var(--border-radius);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        border: none;
        padding: 1.5rem 3rem;
        transition: all .2s;

        cursor: pointer;
    }

    &:hover {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }

    &--prox {
        box-shadow: -.3rem -.3rem 1rem rgba(0, 0, 0, .2);
        border-radius: 1.6rem 0 0 0;

        &:hover {
            box-shadow: -.5rem -.5rem 1.5rem rgba(0, 0, 0, .2);
        }
    }
}

.button__link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-family: inherit;
    font-weight: 800;
    letter-spacing: .05rem;
    color: var(--color-gray-dark);
    transition: all .2s;
    background-color: transparent;
    border: none;

    cursor: pointer;

    &:hover {
        color: var(--color-gray-black);
    }
}
