.input {
    display: block;
    padding: 1.5rem;
    color: var(--color-gray-dark);
    background-color: var(--color-gray-light);
    font-size: 1.6rem;
    font-weight: 700;
    font-family: inherit;
    border: .2rem solid var(--color-gray-light);
    border-radius: 1rem;
    transition: all .2s;

    &:focus {
        outline: none;
        border: .2rem solid var(--color-primary);
    }
}
