.stories {
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 1.5rem;
  border-radius: var(--border-radius);

  &__item {
    overflow: auto;
    position: relative;
    display: inline-block;
    width: 15rem;
    border-radius: var(--border-radius);

    &--image {
      border-radius: var(--border-radius);
      width: 100%;
    }

    &--title {
      position: absolute;
      top: .5rem;
      left: .5rem;

      font-weight: 800;
      font-size: 1.3rem;
      letter-spacing: .03rem;
      line-height: 1.2;
      color: var(--color-white);

      z-index: 1;
    }

    &--subtitle {
      position: absolute;
      bottom: .75rem;
      right: .5rem;

      font-weight: 300;
      font-size: 1.6rem;
      letter-spacing: .03rem;
      line-height: 1.2;
      color: var(--color-white);

      z-index: 1;
    }

    &--blur {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__item:not(:last-child) {
    margin-right: 1rem;
  }
}
